/* for background color of the header section */

.customize_background_header{
    background-color: #264653;
}

/* justify text */
#justify{
    text-align: justify;
}

#justify p{
    color: #E0E0E0;
}


/* feature bike headline  */
#feturedbikes h1{
    font-size: 3.2em;
    font-weight: bold;
}

/* grayscalling image */

.grey{
    filter: grayscale(100%);
}

/* span color */
span{
    color:#E77C40;
}

/* fontawesome color */
.fas{
    color:#E77C40;
}

.far{
    color:#E77C40;
}

/* happy client headings */
#happyclients h1{
    
    font-family: 'Poppins', sans-serif;

}

/* font of faq section */
#faq {
    font-family: 'Poppins', sans-serif;
}