
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#justify{
    text-align: justify;
}

#justify p{
    color: #E0E0E0;
}

.customize_background_header{
    background-color: #264653;
}

#feturedbikes h1{
    font-size: 3.2em;
    font-weight: bold;
    /* font-family: 'Poppins', sans-serif; */
}

.grey{
    filter: grayscale(100%);
}
span{
    color:#E77C40;
}

.fas{
    color:#E77C40;
}

.far{
    color:#E77C40;
}

#happyclients h1{
    
    font-family: 'Poppins', sans-serif;

}

#faq{
    font-family: 'Poppins', sans-serif;
}